body {
    font-family: 'Poppins', sans-serif;
    text-align: center;
}

h1 {
    color: #333;
}

#harita path {
    fill: #69b3a2;
    stroke: #333;
    stroke-width: 0.01;
}

#harita-container {
    margin-top: 50px;
}